body{

}
h1{color: red;
  font-size: 35px;
  font-family:cursive, sans-serif;
}
h3{
  color: green;
    font-size: 30px;
    font-family: monospace, sans-serif;
}
h2{
  border: 2px dotted red;
  color: green;
  text-align: center;

}
p, button{color: gray;
  font-family: fantasy , sans-serif;
font-size: 19px;
}

table{
  border: 5px solid green;
  border-collapse: collapse;
  margin-left;
  width: 50%;
}
th{
    border: 2px solid black;
    font-family: fantasy , sans-serif;
    font-size: 30px;
    color: red;
    background-color:white;
    text-align: center;
    padding: 12px;
}
td{
  border: 2px solid black;
  font-size: 25px;
  text-align: center;
}
ol{
  font-size: 25px;
  }

li{
  padding: 12px;
  color: gray;
  font-size: 20px;
}
.name{
  color:red;
  font-weight: bold;
}
img{
  width: 50%;
}
button:hover {
  background-color: yellow;
  font-size: 20px;
}
a::before {
  content:"\27B1";
}
ul li {
  color: brown;
}
@media print{
  .screen{
    display: none;
  }
}

.card{
  display: flex;
  flex-wape: wrap;
}

.col-lg-3, .col-sm-6{
  background-color: yellow;
  border: 2px solid black;
  font-size:10px;
  margin: 20px;
  padding: 8px;
}
h5{
  margin: 50px;
  color: red;
}
#facts{
  background-color: yellow;
}
@media screen and (max-width: 601px) {
.card-text {
    font-size: 0px;
  }
}
